In [1]:
import pandas as pd
import numpy as np

## Making seq count dataframes

In [2]:
# Also need metadata.tsv for doing the filtering but this will be filtering by date and country, grouping by countries and looking at the difference between submission and collection dates
# We can then plot average by date, and possibly plot distributions by country

In [3]:
# https://data.nextstrain.org/files/ncov/open/metadata.tsv.gz
raw_metadata_reader = pd.read_csv(
    "../data/metadata.tsv.gz", 
    sep="\t",
    usecols=(
        "strain",
        "date",
        "date_submitted",
        "country",
        "division",
        "Nextstrain_clade"
        ),
    dtype={
        "country": "category",
        "division": "category",
        "Nextstrain_clade": "category",
        },
    chunksize=100000)

In [4]:
# Countries of interest
locations = ["USA", "Japan", "United Kingdom"]
start_date = "2022-01-01"
end_date = "2022-06-30"

# Borrowing from John here
def clean_metadata(metadata):
    # Filter to countries
    metadata = metadata[metadata["country"].isin(locations)]
    
    # Remove ambigious dates
    unambiguous_dates = (metadata["date"] != "?") & (metadata["date"].str.count("-") == 2)
    unambiguous_dates = unambiguous_dates & ~(metadata["date"].str.contains("X", na=True))
    metadata = metadata[unambiguous_dates].copy()
    
    # Filter to date range
    metadata["date"] = pd.to_datetime(metadata["date"])
    metadata["date_submitted"] = pd.to_datetime(metadata["date_submitted"])

    date_since_start_date = (metadata["date"] >= start_date)
    date_before_end_date = (metadata["date"] <= end_date)
    metadata = metadata[(date_since_start_date) & (date_before_end_date)].copy()
        
    # Filter records without NS clade
    metadata = metadata[~pd.isnull(metadata["Nextstrain_clade"])].copy()
    
    # Remove bad sequences (https://github.com/blab/rt-from-frequency-dynamics/tree/master/data/omicron-countries-split)
    return metadata

In [5]:
metadata_chunks = [clean_metadata(chunk) for chunk in raw_metadata_reader]

In [6]:
metadata = pd.concat(metadata_chunks, ignore_index=True)
metadata

,strain,date,country,division,Nextstrain_clade,date_submitted
0,England/ALDP-3081D16/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-21
1,England/ALDP-308FE06/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13
2,England/ALDP-308FECA/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13
3,England/ALDP-308FF8B/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13
4,England/ALDP-309029D/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13
...,...,...,...,...,...,...
921434,Wales/QEUH-31CA9EF/2022,2022-01-05,United Kingdom,Wales,21K (Omicron),2022-01-21
921435,Wales/QEUH-31DCD48/2022,2022-01-08,United Kingdom,Wales,21K (Omicron),2022-01-25
921436,Wales/QEUH-323922B/2022,2022-01-11,United Kingdom,Wales,21K (Omicron),2022-01-25
921437,Wales/QEUH-32CE09A/2022,2022-01-15,United Kingdom,Wales,21K (Omicron),2022-01-29
921438,mouse/Japan/MA-P10/2022,2022-06-17,Japan,Hokkaido,19B,2022-06-22

In [7]:
# Map clade to variant
clade_to_variant = {"21A (Delta)" : "Delta", 
                    "21I (Delta)" : "Delta", 
                    "21J (Delta)" : "Delta", 
                    "21K (Omicron)" : "Omicron 21K", 
                    "21L (Omicron)" : "Omicron 21L", 
                    "22A (Omicron)" : "Omicron 22A", 
                    "22B (Omicron)" : "Omicron 22B", 
                    "22C (Omicron)" : "Omicron 22C"}

metadata["variant"] = (metadata["Nextstrain_clade"]
                       .map(clade_to_variant)
                       .fillna("other")
                      )
metadata

,strain,date,country,division,Nextstrain_clade,date_submitted,variant
0,England/ALDP-3081D16/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-21,Omicron 21K
1,England/ALDP-308FE06/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13,Omicron 21K
2,England/ALDP-308FECA/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13,Omicron 21K
3,England/ALDP-308FF8B/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13,Omicron 21K
4,England/ALDP-309029D/2022,2022-01-01,United Kingdom,England,21K (Omicron),2022-01-13,Omicron 21K
...,...,...,...,...,...,...,...
921434,Wales/QEUH-31CA9EF/2022,2022-01-05,United Kingdom,Wales,21K (Omicron),2022-01-21,Omicron 21K
921435,Wales/QEUH-31DCD48/2022,2022-01-08,United Kingdom,Wales,21K (Omicron),2022-01-25,Omicron 21K
921436,Wales/QEUH-323922B/2022,2022-01-11,United Kingdom,Wales,21K (Omicron),2022-01-25,Omicron 21K
921437,Wales/QEUH-32CE09A/2022,2022-01-15,United Kingdom,Wales,21K (Omicron),2022-01-29,Omicron 21K
921438,mouse/Japan/MA-P10/2022,2022-06-17,Japan,Hokkaido,19B,2022-06-22,other

## Creating data sets as of given observation dates

In [8]:
def count_sequences_with_submission_date(metadata):    
    grouped = metadata.groupby(["date", "country", "variant"]) 
    
    def compute_delay(x):
        delays = (x["date_submitted"]
                  .value_counts(normalize=False)
                  .rename_axis('date_submitted')
                  .reset_index(name='sequences'))
        
        delays = delays.sort_values("date_submitted")
        return delays
    
    out = (grouped
           .apply(compute_delay)
           .reset_index()
           .drop(columns=["level_3"])
           .rename(columns={"country": "location"}))
    return out

delayed = count_sequences_with_submission_date(metadata)
delayed

            date location      variant date_submitted  sequences
0     2022-01-01    Japan        Delta     2022-01-22          1
1     2022-01-01      USA        Delta     2022-01-09          7
2     2022-01-01      USA        Delta     2022-01-10          2
3     2022-01-01      USA        Delta     2022-01-11          6
4     2022-01-01      USA        Delta     2022-01-13          9
...          ...      ...          ...            ...        ...
21724 2022-06-30      USA  Omicron 22C     2022-07-16         35
21725 2022-06-30      USA  Omicron 22C     2022-07-18          9
21726 2022-06-30      USA        other     2022-07-13          1
21727 2022-06-30      USA        other     2022-07-14          2
21728 2022-06-30      USA        other     2022-07-15          2

[21729 rows x 5 columns]

In [9]:
def observe_sequence_counts(delayed, obs_date=None):
    # Given an observation date as well as counts of sequences and their submission dates,
    # Reconstruct data available on observation date
    
    obs_seq = delayed.copy()
    
    # Filter to sequences submitted on or before date
    if obs_date:
        obs_seq = obs_seq[obs_seq["date_submitted"] < obs_date]
        
    # Sum across remaining sequences
    obs_seq = (obs_seq
     .groupby(["date", "location", "variant"])["sequences"]
     .sum()).reset_index()
    
    # Sort data
    obs_seq = obs_seq.sort_values(["location", "variant", "date"])
        
    # Remove entries with no observed sequences
    obs_seq = obs_seq[obs_seq["sequences"] > 0]
    
    return obs_seq

In [10]:
# Testing observation dates
obs_seq = observe_sequence_counts(delayed, obs_date="2022-06-30")
obs_seq.date.max()

Timestamp('2022-06-24 00:00:00')

In [16]:
def make_observation_dates(obs_interval=7):
    total_interval = (pd.to_datetime(end_date) - pd.to_datetime(start_date)).days
    ndays = np.arange(90 + 14, total_interval, obs_interval).astype(int)
    if total_interval not in ndays:
        ndays = np.append(ndays, total_interval)

    obs_dates = [pd.to_datetime(start_date) + pd.Timedelta(nday, 'd') for nday in ndays]
    obs_dates = [date.strftime("%Y-%m-%d") for date in obs_dates]
    return obs_dates

In [17]:
obs_dates = make_observation_dates()
obs_dates

['2022-04-15',
 '2022-04-22',
 '2022-04-29',
 '2022-05-06',
 '2022-05-13',
 '2022-05-20',
 '2022-05-27',
 '2022-06-03',
 '2022-06-10',
 '2022-06-17',
 '2022-06-24',
 '2022-06-30']

In [52]:
# "https://covid.ourworldindata.org/data/owid-covid-data.csv"
raw_cases = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
raw_cases = raw_cases[raw_cases.location.isin(locations)]
raw_cases["location"].replace({"United States": "USA"}, inplace=True) #Map United States to USA
raw_cases = (raw_cases[["date", "location", "new_cases"]]
             .rename(columns={"new_cases": "cases"}))
raw_cases['cases'] = raw_cases['cases'].fillna(0)

In [56]:
import os

# Now we just loop over observation dates
for date in obs_dates:
    
    # Observe sequences up to this date
    obs_seq = observe_sequence_counts(delayed, obs_date=date)
    
    # Filter to most recent 104 days
    min_date = (pd.to_datetime(date) - pd.Timedelta(90 + 14,'d'))
    obs_seq = obs_seq[obs_seq.date > min_date]
    
    # Remove most recent 14 days due to bias
    max_date = (pd.to_datetime(date) - pd.Timedelta(14,'d'))
    obs_seq = obs_seq[obs_seq.date <= max_date]

    # Add cases up to present 
    obs_cases = raw_cases[raw_cases.date <= date]
    obs_cases = obs_cases[pd.to_datetime(obs_cases.date) > min_date]

    
    # Export file
    path = "../data/" + date
    if not os.path.exists(path):
        os.makedirs(path)
        
    # Make sure we have the folder
    obs_seq.to_csv(f"../data/{date}/seq_counts_{date}.tsv", sep="\t")
    obs_cases.to_csv(f"../data/{date}/case_counts_{date}.tsv", sep="\t")